<h1>Vacancies</h1>

<%= form_tag listings_path, :method => 'get' do %>
  <%= text_field_tag :country_filter, params[:country_filter] %>
  <%= text_field_tag :min_filter, params[:min_filter] %>
  <%= text_field_tag :max_filter, params[:max_filter] %>
  <%= submit_tag "Search" %>
<% end %> <br>
<i class="fa fa-user" aria-hidden="true"></i>
<% @listings.each do |listing| %>
  <div class="row">
    <div class="col-md-4">
      <% if listing.images.present? %>
        <%= image_tag listing.images_urls[0] %>
    </div>
    <div class="col-md-4">
      <dl class="dl-horizontal">
        <dt><h3><%=listing.name%></h3></dt><dd></dd>
        <dt>Country:</dt><dd><%=listing.country%></dd>
        <dt>Price:</dt><dd>$<%=listing.price%>/night</dd><br>
        <%= link_to "Book Now", listing_path(id: listing.id), class: "btn btn-primary btn-lg btn-block" %>
      </dl>
    </div>
    <%end%>
  </div>
  <br>
<% end %>

