<%= form_for [@listing, @booking] do |f| %>
<%= f.hidden_field :listing_id, value: @listing.id %>  
  <% if @errors.present? %>
    <div>
      <%=@errors%>
    </div>
  <%end%>
    <div>
    <%= f.label :number_of_guests %>
    <%= f.number_field :num_guests, within: 0..@listing.guest_number%>
    </div>
    <div>
    <%= f.label :start_date %>
    <%= f.date_field :start_date%>
    </div>
    <div>
    <%= f.label :end_date %>
    <%= f.date_field :end_date%>
    </div>
    <%= f.submit "Submit Booking" %>
<%end%>
