<h1>This is the profile page for user id</h1>
<%=full_name%>
<br>
<strong>Profile Picture</strong>
<br>
<% if @user.avatar.present? %>
<%= image_tag @user.avatar_url%>
<%end%>

<br>
<% if @user.avatar.present? %>
<%= image_tag @user.avatar_url(:thumb)%>
<%end%>

<h2>Bookings</h2>
<table>
  <tr>
    <th>Listing Title</th>
    <th>Start Date</th>
    <th>End Date </th>
    <th>Num Guests</th>
    <th>Total Price</th>
    <th>Actions</th>
  </tr>
  <% @bookings.each do |booking|%>
    <tr>
      <td><%= link_to booking.listing.title, booking.listing %></td>
      <td><%= booking.start_date.strftime('%d %B %Y')%></td>
      <td><%= booking.end_date.strftime('%d %B %Y')%></td>
      <td><%= booking.num_guests%></td>
      <td><%= booking.total_price%></td>
      <td><%= link_to "Cancel Booking", booking, method: :delete %></td>
    </tr>
  <%end%>
</table>